
cheats/01005E90194E0000/2023052601445400-CCFA659F4857F96DDA29AFEDB2E166E6.jpg
cheats/0100D9A01A278000/2023050809502801-CC47F0DEC75C1FD3B1F95FA9F9D57667.mp4
cheats/0100F2C0115B6000/2023050814131801-CC47F0DEC75C1FD3B1F95FA9F9D57667.mp4
*.jpg
*.bmk
*.dat
*asm
*adv_save
*toggles.txt
cheats/Bandle Tale  A League of Legends Story/inv qty 1.txt
cheats/DAVE THE DIVER/20F9058AEFEAC0AF.txt
cheats/Fireball Wizard/91A6AB3CE6EF3D50.txt
cheats/Fireball Wizard/mjk.txt
cheats/Pepper Grinder \[DEMO\]/3E215451D45562E0.txt
cheats/Shiren the Wanderer  The Mystery Dungeon of Serpentcoil Island/05F4E2661B7618B9.v1.zip
cheats/TamarakTrail/heart fill.txt
cheats/TamarakTrail/hp.txt
cheats/Terra Nil/9197166BEDE3D1CE.txt
cheats/Terra Nil/res 10k.txt
cheats/Twilight Survivors/99 reroll.txt
cheats/Twilight Survivors/coin 10k.txt
cheats/Twilight Survivors/count.txt
cheats/Twilight Survivors/damage total.txt
cheats/Twilight Survivors/hp full.txt
cheats/Twilight Survivors/hp.txt
cheats/Twilight Survivors/reroll 2.txt
cheats/Twilight Survivors/reroll.txt
cheats/Twilight Survivors/time 10min.txt
cheats/Twilight Survivors/time.txt
cheats/0100E0A01DD20000/asm.txt
cheats/0100F15020292000/game_id
cheats/0100F15020292000/save0_/meta
cheats/0100F15020292000/save0_/prefs
cheats/0100F15020292000/save0_/save0
cheats/BLADE CHIMERA/4F5FB4B8163628A4.txt
cheats/BLADE CHIMERA/asm.txt
cheats/BLADE CHIMERA/game_id
cheats/BLADE CHIMERA/inf hp.txt
cheats/BLADE CHIMERA/mjk.txt
cheats/Donkey Kong Country Returns HD/8AC516E8A5D2564B.txt
cheats/Donkey Kong Country Returns HD/8AC516E8A5D2564B.v1.zip
cheats/Donkey Kong Country Returns HD/8AC516E8A5D2564B.v2.zip
cheats/Donkey Kong Country Returns HD_/8AC516E8A5D2564B.txt
cheats/ENDER MAGNOLIA Bloom in the Mist/1B58EFA6DA3FBC96.v1.zip
cheats/ENDER MAGNOLIA Bloom in the Mist/3326B42F3E1EF4B6.txt
cheats/Laika  Aged Through Blood/02F5547E2603338Faob.txt
cheats/Mark of The Deep_/game_id
cheats/Mark of The Deep_/MOTD_SaveSlot_0
cheats/Mark of The Deep_/MOTD_SaveSlot_1
cheats/Tails of Iron 2 Whiskers of Winter/asm.txt
cheats/Tails of Iron 2 Whiskers of Winter/B45218F11402B61A.v1.zip
cheats/Tails of Iron 2 Whiskers of Winter/damage x10 asm.txt
cheats/Tails of Iron 2 Whiskers of Winter/game_id
cheats/Tails of Iron 2 Whiskers of Winter/hp full asm.txt
cheats/Tails of Iron 2 Whiskers of Winter/moon jump.txt
cheats/Tails of Iron 2 Whiskers of Winter/ohk.txt
cheats/Tails of Iron 2 Whiskers of Winter/potion full asm.txt
cheats/Tales of Graces f Remastered_/F20FA237EF080F26.v1.zip
cheats/Turbo Overkill/game_id
cheats/010090E0205D2000/asm.txt
cheats/010090E0205D2000/exp read.txt
cheats/010090E0205D2000/game_id
cheats/010090E0205D2000/mage MP 9.txt
cheats/010090E0205D2000/priest MP 9.txt
cheats/010090E0205D2000/save0_/savedata/mazekey.json
cheats/010090E0205D2000/save0_/savedata/saveTime.scv
cheats/010090E0205D2000/save0_/savedata/userOption.json
cheats/010090E0205D2000/save0_/scDEF0000/Race.json
cheats/010090E0205D2000/save0_/scDEF0000/ScenarioOption.json
cheats/010090E0205D2000/save0_/system/SystemOption.json
cheats/010090E0205D2000/save0_/user/user/rincar.json
cheats/BLADE CHIMERA/4F5FB4B8163628A4.txt
cheats/Donkey Kong Country Returns HD/8AC516E8A5D2564B.txt
cheats/Donkey Kong Country Returns HD_/8AC516E8A5D2564B.txt
cheats/Guns of Fury/game_id
cheats/KAMiBAKO - Mythology of Cube -/game_id
cheats/KAMiBAKO - Mythology of Cube -/mana fill in combat.txt
cheats/KAMiBAKO - Mythology of Cube -/Off enable.txt
cheats/Wizardry The Five Ordeals/asm.txt
cheats/Wizardry The Five Ordeals/bonus 90.txt
cheats/Wizardry The Five Ordeals/game_id
cheats/Wizardry The Five Ordeals/set to max pt.txt
cheats/BLADE CHIMERA/4F5FB4B8163628A4.txt
cheats/Donkey Kong Country Returns HD/8AC516E8A5D2564B.txt
cheats/Donkey Kong Country Returns HD_/8AC516E8A5D2564B.txt
cheats/BLADE CHIMERA/4F5FB4B8163628A4.txt
cheats/Donkey Kong Country Returns HD/8AC516E8A5D2564B.txt
cheats/Donkey Kong Country Returns HD_/8AC516E8A5D2564B.txt
cheats/BLADE CHIMERA/4F5FB4B8163628A4.txt
cheats/Donkey Kong Country Returns HD/8AC516E8A5D2564B.txt
cheats/Donkey Kong Country Returns HD_/8AC516E8A5D2564B.txt
cheats/Big Helmet Heroes/2CF926BBD5D1AB4D.txt
/cheats/WARRIORS Abyss_
/cheats/Eden Survivors
/cheats/Slasher Origins/save0_
cheats/Big Helmet Heroes/game_id
cheats/010076C00B8F0000/F03D12A74ED4C14E.txt
cheats/9th Dawn Remake/game_id
cheats/Adventure of Samsara/locating target  address
cheats/Adventure of Samsara/setting offset to  44
cheats/Arisen Force Life Devotee/game_id
cheats/Beyond the Ice Palace II/853D0E5ED2EEBA7D.txt
cheats/Beyond the Ice Palace II/asm.txt
cheats/Beyond the Ice Palace II/coins 1m.txt
cheats/Beyond the Ice Palace II/game_id
cheats/Beyond the Ice Palace II/hp full.txt
cheats/Beyond the Ice Palace II/mjk.txt
cheats/Beyond the Ice Palace II/super ready.txt
cheats/BIOMORPH/192508361C1481E6.v1.zip
cheats/BIOMORPH/save0_/diff
cheats/BIOMORPH/save0_/save1.txt
cheats/BIOMORPH/save0_/save2.txt
cheats/BIOMORPH/save0_/settings.txt
cheats/Chained Echoes/03864696D3CAFDCC.v1.txt
cheats/Chronicles of the Wolf/game_id
cheats/Core Keeper/E8CE96140A73B39F.txt
cheats/Day of the Shell/asm.txt
cheats/Day of the Shell/game_id
cheats/Day of the Shell/gold.txt
cheats/Day of the Shell/hp.txt
cheats/Day of the Shell/ohk.txt
cheats/Death Kid/asm.txt
cheats/Death Kid/game_id
cheats/Death Kid/ohk.txt
cheats/Death Kid/rage 100.txt
cheats/Death Kid/rage no dec upon activation.txt
cheats/Fast and Furious Arcade Edition/9D2BAA0D77241296.v1.txt
cheats/Front Mission 3 Remake/CB29E9113A190FCE.v1.zip
cheats/Front Mission 3 Remake/CB29E9113A190FCE.v2.zip
cheats/Front Mission 3 Remake/game_id
cheats/Front Mission 3 Remake/hp fill ohk 0.txt
cheats/Front Mission 3 Remake/hp fill ohk.txt
cheats/Front Mission 3 Remake/player parts hp full.txt
cheats/Front Mission 3 Remake/player pilot ap 200 immortal no force eject, stunned nor confused .txt
cheats/Fuga Melodies of Steel 3_/game_id
cheats/GladMort/game_id
cheats/Glowpop/asm.txt
cheats/Glowpop/game_id
cheats/Glowpop/hover moonjump.txt
cheats/Glowpop/mjk.txt
cheats/Glowpop/x2.txt
cheats/Grand Theft Auto III - The Definitive Edition/BB2DDA80E83D0B2F.txt
cheats/Grit and Valor - 1949/asm.txt
cheats/Grit and Valor - 1949/auto asm hp.txt
cheats/Hades II/2025092709353501-1CF477FB33F39AA89C1F52B3BD99E19C.mp4
cheats/Hades II/E4F736641889B26F.v2.txt
cheats/Hades II/Hades II \[0100A00019DE0000\]/activeProfile
cheats/Hades II/Hades II \[0100A00019DE0000\]/GlobalSettingsNX64.sjson
cheats/Hades II/Hades II \[0100A00019DE0000\]/Profile1.sav
cheats/Hades II/Hades II \[0100A00019DE0000\]/Profile1.sjson
cheats/Hades II/Hades II \[0100A00019DE0000\]/Profile1.v.sav
cheats/Hades II/Hades II \[0100A00019DE0000\]/Profile1_Temp.sav
cheats/High On Life/asm.txt
cheats/High On Life/auto asm mj.txt
cheats/High On Life/game_id
cheats/High On Life/hp and shield full.txt
cheats/Kingdom Rush Vengeance/game_id
cheats/Kingdoms of Amalur Re-Reckoning/abc.txt
cheats/Kingdoms of Amalur Re-Reckoning/b.txt
cheats/Kingdoms of Amalur Re-Reckoning/FA48B344ED72F24D.txt
cheats/Kingdoms of Amalur Re-Reckoning/game_id
cheats/Lia Hacking Destiny_/67EF662EF9D1F58E.txt
cheats/Little Witch Nobeta/7E2AA1ED5A6F65FA.txt
cheats/Lone Fungus/73FEC0AC3BC1DCD6.txt
cheats/Lone Fungus/7C1FB4DAA7666BEE.v1.zip
cheats/Lost In Random The Eternal Die/asm.txt
cheats/Lost In Random The Eternal Die/game_id
cheats/Lost In Random The Eternal Die/hp.txt
cheats/Lost In Random The Eternal Die/sp.txt
cheats/Mandragora Whispers of the Witch Tree/637F8C946F7C512D.v1.txt
cheats/Ogu and the Secret Forest/game_id
cheats/Onimusha 2 Samurai's Destiny/game_id
cheats/Out There Ω The Alliance/F03D12A74ED4C14E.txt
cheats/PAC-MAN WORLD 2 Re-PAC/0C2E6A2CCC933EBF.info
cheats/PAC-MAN WORLD 2 Re-PAC/1.txt
cheats/PAC-MAN WORLD 2 Re-PAC/asm.txt
cheats/PAC-MAN WORLD 2 Re-PAC/auto asm fruit box.txt
cheats/PAC-MAN WORLD 2 Re-PAC/boss ohk.txt
cheats/PAC-MAN WORLD 2 Re-PAC/can throw dot.txt
cheats/PAC-MAN WORLD 2 Re-PAC/game_id
cheats/PAC-MAN WORLD 2 Re-PAC/get item.txt
cheats/PAC-MAN WORLD 2 Re-PAC/hover.txt
cheats/PAC-MAN WORLD 2 Re-PAC/mj2.txt
cheats/PAC-MAN WORLD 2 Re-PAC/mj3.txt
cheats/PAC-MAN WORLD 2 Re-PAC/mj4.txt
cheats/PAC-MAN WORLD 2 Re-PAC/mjk.txt
cheats/PAC-MAN WORLD 2 Re-PAC/Off enable.txt
cheats/PAC-MAN WORLD 2 Re-PAC/stock read.txt
cheats/Parry Nightmare/game_id
cheats/PATAPON 1+2 REPLAY/73FEC0AC3BC1DCD6.info
cheats/PATAPON 1+2 REPLAY/73FEC0AC3BC1DCD6.v1.txt
cheats/PATAPON 1+2 REPLAY/asm.txt
cheats/PATAPON 1+2 REPLAY/combo.txt
cheats/PATAPON 1+2 REPLAY/game_id
cheats/PATAPON 1+2 REPLAY/hp fill.txt
cheats/PATAPON 1+2 REPLAY/item.txt
cheats/PATAPON 1+2 REPLAY/ka-ching 10000.txt
cheats/PATAPON 1+2 REPLAY/ohk (all).txt
cheats/Plants vs. Zombies Replanted for Nintendo Switch™/Plants vs. Zombies_ Replanted for Nintendo Switch™ \[01008C50239BE000\]/playerPrefs.bin
cheats/Plants vs. Zombies Replanted for Nintendo Switch™/Plants vs. Zombies_ Replanted for Nintendo Switch™ \[01008C50239BE000\]/run_history.rdat
cheats/Pokémon Legends Z-A/2025101712175401-406E08C26FAE3D61E0FDD492A49B8D8E.mp4
cheats/Pokémon Legends Z-A/2025101810531800-406E08C26FAE3D61E0FDD492A49B8D8E.mp4
cheats/Pokémon Legends Z-A/backup
cheats/Pokémon Legends Z-A/done mega.zip
cheats/Pokémon Legends Z-A/dungeon.zip
cheats/Pokémon Legends Z-A/latest.zip
cheats/Pokémon Legends Z-A/main
cheats/Pokémon Legends Z-A/mega.zip
cheats/Pokémon Legends Z-A/one mission.zip
cheats/Pokémon Legends Z-A/one more mission.zip
cheats/Pokémon Legends Z-A/Pok_mon Legends_ Z-A \[0100F43008C44000\].zip
cheats/Pokémon Legends Z-A/Pokémon Legends_ Z-A \[0100F43008C44000\]/backup
cheats/Pokémon Legends Z-A/Pokémon Legends_ Z-A \[0100F43008C44000\]/main
cheats/Pokémon Legends Z-A/Pokémon Legends_ Z-A \[0100F43008C44000\]1/backup
cheats/Pokémon Legends Z-A/Pokémon Legends_ Z-A \[0100F43008C44000\]1/main
cheats/Pokémon Legends Z-A/prism.zip
cheats/Pokémon Legends Z-A/rankE.zip
cheats/Pokémon Legends Z-A/rankF.zip
cheats/Pokémon Legends Z-A/ready for next rank.zip
cheats/Pokémon Legends Z-A/ready for rankup.zip
cheats/Pokémon Legends Z-A/zone3 out.zip
cheats/Pokémon Legends Z-A/zone3.zip
cheats/Ravenswatch/Ravenswatch \[0100E6701DF4E000\]/GameSettings.ini
cheats/Ravenswatch/Ravenswatch \[0100E6701DF4E000\]/ProfileLive_1.ob
cheats/Rune Factory Guardians of Azuma/90F67C8E97BAB90E.txt
cheats/Rune Factory Guardians of Azuma/90F67C8E97BAB90E.v4.zip
cheats/Rune Factory Guardians of Azuma/game_id
cheats/Rusty Rabbit Demo/asm.txt
cheats/Rusty Rabbit Demo/game_id
cheats/Rusty Rabbit Demo/hp.txt
cheats/SHINOBI Art of Vengeance/2C19FC8C49BC4310.v1.txt
cheats/Ship of Fools/2C4700E500079C74.info
cheats/Ship of Fools/asm.txt
cheats/Ship of Fools/demo for assemble.txt
cheats/Ship of Fools/game_id
cheats/Ship of Fools/hp and shield 10.txt
cheats/Ship of Fools/hp.txt
cheats/Ship of Fools/hp2.txt
cheats/Ship of Fools/Inf HP+new.txt
cheats/Ship of Fools/output.txt
cheats/Ship of Fools/tendril 10000.txt
cheats/Songs of Conquest/game_id
cheats/Sonic Racing CrossWorlds_/2025100220401101-7ECFAD04993DBA86B53C421FEACCFDCB.mp4
cheats/Spirit Valor/asm.txt
cheats/Spirit Valor/coins 1m.txt
cheats/Spirit Valor/enemy one hit kill.txt
cheats/Spirit Valor/hp fill.txt
cheats/Spirit Valor/mana fragments 10k.txt
cheats/Spirit Valor/mp fill.txt
cheats/Spirit Valor/one hit kill.txt
cheats/Spirit Valor/qty 88.txt
cheats/Spirit Valor/spellstone 99.txt
cheats/STORY OF SEASONS Grand Bazaar/BA5C311BACCD1480.txt
cheats/Super Mario 3D World + Bowser's Fury/635FE25C7CB69847.v1.txt
cheats/Super Mario Galaxy 2/C3225B609AD4F3BA.info
cheats/Super Mario Galaxy 2/C3225B609AD4F3BA.v3.txt
cheats/Super Mario Galaxy/0B4724E22D51A00B.v3.txt
cheats/Super Mario Galaxy/0B4724E22D51A00B.v5.txt
cheats/Super Mario Galaxy/2025100509143001-FBB05819D282ABD5871F37A914AC838D.mp4
cheats/Super Mario Galaxy/Super Mario Galaxy \[010099C022B96000\]/MarioGalaxy/GameData.bin
cheats/Super Mario Party Jamboree/game_id
cheats/System Shock 2 25th Anniversary Remaster/7473EE6CC65B8772.v1.txt
cheats/System Shock 2 25th Anniversary Remaster/7473EE6CC65B8772.v2.txt
cheats/System Shock 2 25th Anniversary Remaster/auto asm 1.txt
cheats/System Shock 2 25th Anniversary Remaster/game_id
cheats/System Shock 2 25th Anniversary Remaster/qty 9999.txt
cheats/The NameLess Slay Dragon/46AE9130A159CDDB.v1.txt
cheats/Through the Nightmares/game_id
cheats/Toziuha Night Order of the Alchemists/Toziuha Night_ Order of the Alchemists \[010029001C71A000\]/ach.data
cheats/Toziuha Night Order of the Alchemists/Toziuha Night_ Order of the Alchemists \[010029001C71A000\]/saves/oota-0.toziuhasave
cheats/Toziuha Night Order of the Alchemists/Toziuha Night_ Order of the Alchemists \[010029001C71A000\]/saves/oota-2.toziuhasave
cheats/Toziuha Night Order of the Alchemists/Toziuha Night_ Order of the Alchemists \[010029001C71A000\]/saves/oota-quick-2.toziuhasave
cheats/Toziuha Night Order of the Alchemists/Toziuha Night_ Order of the Alchemists \[010029001C71A000\]/settings.json
cheats/Turbo Kid/162182FD0AD92938.txt
cheats/Twilight Monk/5D63D46226DB106F.txt
cheats/Twilight Monk/5D63D46226DB106F.v1.txt
cheats/Twilight Monk/5D63D46226DB106F.v1.zip
cheats/Twilight Monk/hp hack on being hit.txt
cheats/Uragun/1770464F04B9417Faob.txt
cheats/Uragun/3.0x.txt
cheats/Uragun/asm.txt
cheats/Uragun/bomb 3.txt
cheats/Uragun/coin 1000.txt
cheats/Uragun/game_id
cheats/Uragun/hp.txt
cheats/Uragun/super.txt
cheats/Uragun/v360 off.txt
cheats/Vessels of Decay/game_id
cheats/Xenoblade Chronicles X Definitive Edition/3F2425864CF22684.txt
cheats/Xenoblade Chronicles X Definitive Edition/3F2425864CF22684.v1.zip
cheats/Xenoblade Chronicles X Definitive Edition/3F2425864CF22684.v2.zip
cheats/Xenoblade Chronicles X Definitive Edition/3F2425864CF22684.v3.zip
cheats/Xenoblade Chronicles X Definitive Edition/3F2425864CF22684.v4.zip
cheats/Xenoblade Chronicles X Definitive Edition/3F2425864CF22684.v5.zip
cheats/Xenoblade Chronicles X Definitive Edition/3F2425864CF22684.v6.zip
cheats/Xenoblade Chronicles X Definitive Edition/3F2425864CF22684.v7.zip
cheats/Zumba - Treasure of the Marble Sea/game_id
cheats/010076C00B8F0000/F03D12A74ED4C14E.txt
cheats/Beyond the Ice Palace II/853D0E5ED2EEBA7D.txt
cheats/Grand Theft Auto III - The Definitive Edition/BB2DDA80E83D0B2F.txt
cheats/Little Witch Nobeta/7E2AA1ED5A6F65FA.txt
cheats/Rune Factory Guardians of Azuma/90F67C8E97BAB90E.txt
cheats/Turbo Kid/162182FD0AD92938.txt
cheats/Twilight Monk/5D63D46226DB106F.txt
cheats/Xenoblade Chronicles X Definitive Edition/3F2425864CF22684.txt
cheats/010076C00B8F0000/F03D12A74ED4C14E.txt
cheats/Beyond the Ice Palace II/853D0E5ED2EEBA7D.txt
cheats/Grand Theft Auto III - The Definitive Edition/BB2DDA80E83D0B2F.txt
cheats/Little Witch Nobeta/7E2AA1ED5A6F65FA.txt
cheats/Rune Factory Guardians of Azuma/90F67C8E97BAB90E.txt
cheats/Turbo Kid/162182FD0AD92938.txt
cheats/Twilight Monk/5D63D46226DB106F.txt
cheats/Xenoblade Chronicles X Definitive Edition/3F2425864CF22684.txt
